<html>
	<head>
		<meta charset="utf-8">
		<title>About</title>
		<link rel="stylesheet" href="/static/css/about.css">
	</head>
	<body>
		<div id="container">
			<div id="d_left">
				<div id="h_img"></div>
				<br>
				<span style="font-size: 40px;color: #efaaa3;font-family: 微软雅黑;">小&nbsp;&nbsp;暖</span>
				<p style="color: #9e9e9e;">编译时间:12/12/2019, 2:32:10 AM</p>
				<br>
				<br>
				<div id="pw"></div>
				<div style="width: 100px;height: 35px;float: left;padding-top: 10px;"><span style="padding-top: 20px;font-size: 16px;color: #b39892;">由万玉文制作</span></div>
				<div style="clear: both;width: 200px;line-height: 20px;margin-top: 40px;margin-left: 100px;">
					献给那些因生活压力而感到焦虑的朋友们！
				</div>

			</div>
			<div id="d_right">
				<h5>诞生背景</h5>
				<div id="bgc">
					<div id="bg_content">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;现代生活节奏快、压力大，无论男女老少，如果不能通过合适的方式去排解压力和负面情绪，他的身心终将疲惫不堪乃至分崩离析。交流沟通在这种境况下显得尤为重要，倾诉者在聊天的过程中一吐生活的不快，既发泄了压力与糟糕情绪又能够得到来自局外人的一些安慰和指点。
						<br>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;然而，再形影不离的倾听者也不可能时时在场，在真挚的亲友也不可能成为一个人肆意倾倒负面情绪的垃圾桶。所以，忠实的聊天机器人或许可以成为我们生活的必须。
						<br>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;基于此，我准备开发一款能够与用户进行对话、帮助用户缓解日常生活压力、分析导致用户情绪消极的原因、给出一些生活建议的chatbot。智能聊天机器人“小暖”的设计概念由此诞生。
					</div>
				</div>
				<br>
				<h5>小暖的开发离不开以下项目</h5>
				<div id="dt">
					<div id="content">
						<a href="https://github.com/warmheartli/ChatBotCourse" target="view_window" style="text-decoration: none;color: #1675e0;">warmheartli/ChatBotCourse</a>
						<br>
						[李闯]
						<br>
						自己动手做聊天机器人教程
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
