<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<title>与小暖的聊天界面</title>
	<link rel="stylesheet" href="/static/css/chatbox.css" type="text/css">

</head>
<body>
<div class="bi">
<div class="box">
	<div id="content">
		<div class="info_box">
		</div>
		<form action="">
			<img src="/static/img/2.jpg" id='pic'>
			<input type="text" placeholder='尽情畅聊吧' id='inp'>
			<input type="button" value='发送' id='send'>
		</form>
	</div>
</div>
</div>
<script  src="/static/js/chatbox.js"></script>
<!--
<span id="heihei">=============</span>
<input type="button" value="发送" onclick="loadXMLDoc('/example/ajax/test_xmlhttp.txt')"/>
<script  src="js/chatbox.js"></script>
-->

</body>
</html>
