<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Title</title>
		<script src="/static/js/jquery-1.11.2.min.js" type="text/javascript"></script>
		<!--字体图标-->
		<link href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.css" rel="stylesheet">
		<link rel="stylesheet" href="/static/css/contact.css">
    </head>
	<body>
		<div id="container">
			<div id="me">
				<div id="d_top">
					<div id="h_img">
						<img src={{url_for('static',filename='img/mh.gif')}} style="width: 100%;height: auto;" >
					</div>
					<p style="font-size:1.5rem !important;font-weight: 400;line-height: 1.5;margin-block-start: 1em;">Coming Leaves</p>
					<p>From today on, be a happy person. Keep learning until the end of the universe.</p>
					<p><i class="fas fa-map-marker-alt has-mr-7"></i><span>&nbsp;中国·江苏南京</span></p>
					<p><i class="fas fa-link"></i><a href="还未开始整理" target="view_window" style="text-decoration: none;color: #0091E9;" rel="noopener"><span>&nbsp;前往·我的博客</span></a></p>
				</div>
				<div id="d_center">
					<button type="button" id="btn1" onclick="window.open('https://github.com/ComingLeaves')">在GITHUB关注我</button>
				</div>
				<div id="d_bottom">
					<button type="button" class="point"><a target="_blank" rel="noreferrer" title="Github" href="https://github.com/ComingLeaves"><i class="fab fa-github"></i></a></button>
					<button type="button" class="point"><a target="_blank" rel="noreferrer" title="E-Mail" href="mailto:1554091920@qq.com"><i class="fas fa-envelope"></i></a></button>
					<button type="button" class="point"><a target="_blank" rel="noreferrer" title="哔哩哔哩" href="https://space.bilibili.com/94896604"><i class="fas fa-video"></i></a></button>
					<button type="button" class="point"><a target="_blank" rel="noreferrer" title="微博（未开通，嘿嘿）" href="未开通"><i class="fab fa-weibo"></i></a></button>
					<button type="button" class="point"><a target="_blank" rel="noreferrer" title="RSS" href="待完成"><i class="fas fa-rss"></i></a></button>
				</div>
			</div>

			<div id="m_content">
				<div style="width: 640px;height: auto;margin-top: 10px;margin-left: 30px;">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我是聊天机器人“小暖”的开发者———万玉文。
					<br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;作为此次项目的开发人员，如果您在使用的过程中遇到任何问题，都可以通过左侧方的邮件地址，或者在bilibili平台上给我留言，我看到后会尽快给您回复。
					<br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;由于本次开发只是处于初期阶段，项目依旧有许多问题，我会在今后的时间里逐步完善与优化，并在Github上跟进。
					<br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;最后，如果您对人工智能有兴趣，或对本课题有任何建议，欢迎您联系我。
				</div>
			</div>
		</div>
	</body>
</html>